{% extends 'base.html' %}

{% block head %}

<title>Loan Prediction</title>

<style>
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;

}


.form-holder {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], input[type=number], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;

}
.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
</style>



{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') }}">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Predictor</h3>
                        <form action="loan_predict" method="POST">

                            <!-Applicant income-->
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="AI" id="AI" placeholder="Applicant Income" min="0" required>
                            </div>

                            <!-Co-Applicant income-->
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="CAI" id="CAI" placeholder="Co-applicant Income" min="0" required>
                            </div>

                            <!-Loan Amount-->
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="LA" id="LA" placeholder="Loan Amount" min="0" required>
                            </div>

                            <!-Loan Term-->
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="LT" id="LT" placeholder="Loan Term Duration (in months)" min="12" max="480" required>
                            </div>



                            <!-- Credit History -->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="CH">Credit History: </label>
                            <input type="radio" class="btn-check" name="CH"  value = "1" id="have" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="have">Have</label>
                            <input type="radio" class="btn-check" name="CH" value = "0" id="dhave" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="dhave">Don't Have</label>
                            </div>

                            <!--Gender-->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Gender: </label>
                            <input type="radio" class="btn-check" name="gender"  value = "1" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>
                            <input type="radio" class="btn-check" name="gender" value = "0" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
                            </div>

                            <!--Marital status-->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="MS">Marital Status: </label>
                            <input type="radio" class="btn-check" name="MS"  value = "1" id="married" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="married">Married</label>
                            <input type="radio" class="btn-check" name="MS" value = "0" id="unmarried" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="unmarried">Unmarried</label>
                            </div>


                            <!--Dependent-->
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="dep" id="dep" placeholder="Dependents" min="0" required>
                            </div>


                            <!--Education status-->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="Edu">Education: </label>
                            <input type="radio" class="btn-check" name="Edu"  value = "1" id="ungraduate" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="ungraduate">Not Graduated</label>
                            <input type="radio" class="btn-check" name="Edu" value = "0" id="graduate" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="graduate">Graduated</label>
                            </div>


                            <!--Employment status-->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="emp">Self-employment: </label>
                            <input type="radio" class="btn-check" name="emp"  value = "1" id="yemp" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="yemp">Yes</label>
                            <input type="radio" class="btn-check" name="emp" value = "0" id="nemp" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="nemp">No</label>
                            </div>


                            <!--Property Area-->
                            <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="pa">Property Area: </label>
                            <input type="radio" class="btn-check" name="pa"  value = "s" id="semi" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="semi">Semi-Urban</label>
                            <input type="radio" class="btn-check" name="pa" value = "r" id="rural" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="rural">Rural</label>
                            <input type="radio" class="btn-check" name="pa" value = "u" id="urban" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="urban">Urban</label>
                            </div>


                            <div class="form-button mt-3">
                                <center><input id="submit" value="Predict" type="submit" class="btn btn-primary"></input></center>
                            </div>
                            <div class="form-button mt-3">
                                <center><label>Will you get loan sactioned ?  {{prediction}}</label></center>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
{% endblock %}


